body{
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

.block{
    display: block;
}

.fl_cl{
    display: flex;
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;
    flex-direction: column;
}

.fl_rw{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.only-mobile{
    display: none;
}

/* CZCIONKI*/
@font-face {
    font-family: KNI;
    src: url("../fonts/KNI/JosefinSans-Light.ttf");
    font-weight: 100;
}

@font-face {
    font-family: TekstInfo;
    src: url("../fonts/text/Quicksand-Regular.ttf");
}

@font-face {
    font-family: TekstInfoBold;
    src: url("../fonts/text/Quicksand-Bold.ttf");
}

@font-face {
    font-family: TekstInfoLight;
    src: url("../fonts/text/Quicksand-Light.ttf");
}

@font-face {
    font-family: TekstInfoMedium;
    src: url("../fonts/text/Quicksand-Medium.ttf");
}

@font-face {
    font-family: HeadersRegular;
    src: url("../fonts/headers/JuliusSansOne-Regular.ttf")
}

/*******************************************************/

.plama_l{
    position: absolute;
    top: 60%;
    left: 0;
    width: 70vw;
    height:245%;
    z-index: 1;
    background: url("../images/plama_lewa_strona.png") no-repeat;
}

.plama_p{
    position: absolute;
    top: -10vh;
    right: 0;
    width: 70vw;
    height: 300%;
    z-index: 1;
    background: url("../images/plama_prawa_strona.png") no-repeat 100%;
}

.top{
    position: fixed;
    display: flex;
    clear: both;
    justify-content: space-between;
    width: 100vw;
    height: 62px;
    background-image: url("../images/pasek_gora.png") ;
    z-index:99999;
}

.top-clear{
    height: 62px;
    clear: both;
}

#logo{
    margin: 10px;
    z-index: 999;
}

.menu{
    margin:0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-family: TekstInfo;
    font-size: 24px;
}

.button:first-child a, .button:first-child a:visited{
    color: #0fc6c0;
}

.button:last-child{
    margin-right: 10px;
    width: 62px;
}

.button:last-child a{
    padding: 0;
    text-align: center;
 }

.button:last-child a:hover {
    background-color: rgba(255, 255, 255, 0.5);
}


.button:last-child a img{
    height: 50%;
    width: 50%;
    margin: 25% auto;
}

.button a, .button a:visited{
    padding: 0 15px 0 15px;
    color: white;
    text-decoration: none;
    display: block;
    height: 100%;
    line-height: 62px;
}

.button button{
    padding: 0 15px 0 15px;
    font-size: 100%;
    font-family: TekstInfo;
    line-height: 62px;
    height: 62px;
    border: none;
    background: none;
    color: #FFFFFF;
    cursor: pointer;
}

.button a:hover, .button button:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.lang{
    margin-left: 10vw;
    list-style: none;
    color: #FFF;
    height: 62px;
    width: 62px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.header{
    color: #000;
    font-family: HeadersRegular;
    font-size: 5vh;
    margin: 90px auto 5vh auto;
    padding: 0 1vw 2vh 1vw;
    border-bottom: 1px solid #55818e;
    z-index: 999;
}

.container{
    padding: 0;
    min-height: 100vh;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    color: #FFF;
    padding: 0 15% 0 15%;
    min-height: 100vh;
    z-index: -1;
}

/*** Strona informacje***/

#info {
    background: url("../images/info.JPG") no-repeat center center fixed;
    background-size: cover;
}



.logo{
    margin: 100px auto 0 auto;
    color: #FFF;
    display: flex;
    align-items: center;
    font-family: KNI;
    font-size: 2.8vw;
    line-height: 2.4vw;
    width: 45%;
    z-index: 999;
}

.logo img{
    margin-right: 15px;
    max-width: 60%;
}

.line{
    width: 60%;
    margin: 5vh auto 5vh auto;
    background-color: #FFF;
    border-bottom: ridge 1px rgba(255,255,255,0.5);
}

#info .main .tekst{
    margin: 0 5% 0 5%;
    text-align: center;
    font-size: 24px;
    font-family: TekstInfo;
    z-index: 999;
}



#info .main .tekst .arrow{
    clear: both;
    margin: 5vh auto 0 auto;
}

#info .main .tekst .arrow:hover{
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}

/*** Strona projekty***/

#projekty{
    background-color: #CCCCCC;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    z-index: 1;
}



.tekst{
    z-index: 999;
    overflow: hidden;
}

#projekty .tekst{
    width: 100%;
    padding: 0 25% 0 25%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family:TekstInfo;
    font-size: 24px;
}

#projekty .tekst div{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

#projekty .tekst div img{
    max-width: 80%;
    max-height: 186px;
}

#projekty .tekst div div{
    max-width: 100%;
    width: 100%;
    margin: 2vh auto 4vh auto;

}

#projekty .arrow{
    align-self: flex-end;
    margin: 0 auto 5vh auto;
    z-index: 999;
}

/*** Strona współpraca ***/

#wspolpr .main .arrow-to-top{
    align-self: flex-end;
    margin: 5vh auto 5vh auto;
}

#wspolpr .main .arrow-to-top img{
    transform: rotate(180deg);
}

#wspolpr{
    background: url("../images/kontakt.jpg") fixed 60%;
    background-size: cover;

}

#wspolpr .main .header{
    color: #FFFFFF;
    border-color: #FFFFFF;
}

#wspolpr .main .tekst{
    width: 100%;
    padding: 0 10% 0 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family:TekstInfo;
    font-size: 24px;
}

#wspolpr .main .tekst span{
    margin-left: 1vw;
    font-family: TekstInfoLight;
}

#wspolpr .main .tekst #form{
    margin: 4vh auto 4vh auto;
    width: 100%;
}

#wspolpr .main .tekst #form span{
    margin: 0;
    text-align: left;
    font-family: TekstInfo;
    color: #0fc6c0;
}

#form form{
    width: 100%;
    align-items: flex-start;
    margin-top: 1vh;
}

#kolform1{
    padding-right: 5vw;
    max-width: 40%;
    min-width: 300px;
}

#kolform2{
    min-width: 300px;
    align-self: stretch;
    flex-grow: 1;
}

#kolform3{
    align-self: flex-end;
    width: 100%;
}

#kolform3 .g-recaptcha{
    margin: 2vh 0 0 0;
    width: 300px;
}

#kolform2 .form_input{
    height: 100%;
    min-height: 175px;
}

.form_input label{
    margin: 1vh 0;
}

.form_input label sup{
    color: #FF0000;
    font-size: 28px;
}

.form_input input, .form_input textarea{
    font-size: 16pt;
    line-height: 26pt;
    color: #3C3C3C;
    font-family: TekstInfo;
}

.form_input input:focus, .form_input textarea:focus{
    background: rgba(16, 198, 192, 0.5);
    border: solid 1px;
    color: #FFFFFF;
}

.form_input textarea{
    width: 100%;
    resize: none;
    height: 100%;
}

#send_form{
    margin: 2vh 0 0 auto;
    padding:2px 5px;
    font-size: 24px;
    font-family: TekstInfo;
    border-radius: 5px;
    border: #000 solid 1px;
    background: #0fc6c0;
    color: #fff;
    width: 100px;
    height: 60px;
}

#send_form:hover, #send_form:active{
    background: rgba(16, 198, 192, 0.4);
    cursor: pointer;
    align-self: flex-start;
}

/*** Okienko kontaktowe modal***/
/* The Modal (background) */
.modal {
    font-family: TekstInfo;
    font-size: 20px;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal closing button */
.modal span{
    font-size: 30pt;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    font-size: 18px;
    padding: 2px 16px;
    background-color: rgba(16, 198, 192, 0.7);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Modal Body */
.modal-body {
    color: #FFFFFF;
    padding: 2px 16px;
}


/* Modal Content */
.modal-content {
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

/* Stopka */
.footer{
    display: flex;
    clear: both;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    font-family: TekstInfo;
    color: #FFFFFF;
    width: 100%;
    height: 62px;
}