@media screen and ( max-width: 1000px ){
    .hidden-mobile{
        display: none;
    }


    /**#info, #wspolpr{
        background-attachment: scroll;
    }
**/

    #menu-button{;
        display: block;
        position: relative;
        overflow: hidden;
        margin: 0;
        padding: 0;
        width: 62px;
        height: 62px;
        font-size: 0;
        text-indent: -9999px;
        box-shadow: none;
        border-radius: 0;
        border: none;
        cursor: pointer;
        transition: background 0.3s;
    }

    #menu-button:focus{
        outline: none;
    }

    #menu-button span{
        display: block;
        position: absolute;
        top: 29px;
        left: 12px;
        right: 12px;
        height: 3px;
        background: #0fc6c0;
    }

    #menu-button span::before, #menu-button span::after{
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: #0fc6c0;
        content: "";
        -webkit-transition-duration: 0.3s, 0.3s;
        -moz-transition-duration: 0.3s, 0.3s;
        -ms-transition-duration: 0.3s, 0.3s;
        -o-transition-duration: 0.3s, 0.3s;
        transition-duration: 0.3s, 0.3s;
        -webkit-transition-delay: 0.3s, 0s;
        -moz-transition-delay: 0.3s, 0s;
        -ms-transition-delay: 0.3s, 0s;
        -o-transition-delay: 0.3s, 0s;
        transition-delay: 0.3s, 0s;
    }

    #menu-button span::before{
        top: -13px;
        -webkit-transition-property: top, transform;
        -moz-transition-property: top, transform;
        -ms-transition-property: top, transform;
        -o-transition-property: top, transform;
        transition-property: top, transform;
    }
    
    #menu-button span::after{
        bottom: -13px;
        -webkit-transition-property: bottom, transform;
        -moz-transition-property: bottom, transform;
        -ms-transition-property: bottom, transform;
        -o-transition-property: bottom, transform;
        transition-property: bottom, transform;
    }
    
    #menu-button.is-active{
        background-color: rgba(0,0,0,0.8);
    }

    #menu-button.is-active span{
        background: none;
    }
    
    #menu-button.is-active span::before{
        top: 0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #menu-button.is-active span::after{
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    #menu-button.is-active span::before, 
    #menu-button.is-active span::after{
        -webkit-transition-delay: 0s, 0.3s;
        -moz-transition-delay: 0s, 0.3s;
        -ms-transition-delay: 0s, 0.3s;
        -o-transition-delay: 0s, 0.3s;
        transition-delay: 0s, 0.3s;
    }
    
    
    
    

    #mobile-menu {
        position: fixed;
        top: 62px;
        left: 0;
        margin:0;
        padding: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.9);
        display: none;
        flex-direction: column;
        list-style-type: none;
        font-family: TekstInfo;
        font-size: 24px;
        text-align: center;
        z-index: 9999;
    }

    #mobile-menu .button:last-child{
        margin: 0 auto;
        width: 62px;
        height: 62px;
    }

    .button:last-child a img{
        height: 50%;
        width: 50%;
        margin: 25% auto;
    }

    .button a, .button a:visited{
        padding: 0 15px 0 15px;
        color: white;
        text-decoration: none;
        display: block;
        height: 100%;
        line-height: 62px;
    }

    .button button{
        padding: 0 15px 0 15px;
        font-size: 100%;
        font-family: TekstInfo;
        line-height: 62px;
        height: 100%;
        width: 100%;
        margin: auto;
        border: none;
        background: none;
        color: #FFFFFF;
        cursor: pointer;
    }

    .button a:hover, .button button:hover{
        background-color: rgba(255, 255, 255, 0.3);
    }











    #info .main, #wspolpr .main .tekst{
        padding: 0 5% 0 5%;
    }

    #wspolpr .main{
        padding: 0 10% 0 10%;
    }

    #info .main .tekst, #wspolpr .main .tekst{
        font-size: 18px;
    }

    .logo{
        width: 60%;
        font-size: 40px;
        line-height: 36px;
    }

    .logo img{
        display: none;
    }

   #projekty .tekst{
       padding: 5%;
   }

    #projekty .tekst div{
        width: 50%;
    }

    #form form{
        flex-direction: column;
    }

    #kolform1, #kolform2, #kolform3{
        min-width: 100%;
        font-size: 20px;
    }

    #send_form, #send_form:hover, #send_form:active{
        width: 50%;
        margin: 4vh auto 0 auto;
    }

    .form_input textarea{
        height: 120px;
    }

    .modal-content{
        width: 80%;
    }
}


@media screen and ( max-width: 460px ) {

    .logo {
        width: auto;
    }

}